{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true,
        "allowAfterThisConstructor": true,
        "allowFunctionParams": true,
        "allow": ["_id"]
      }
    ],
    "linebreak-style": "off"
  }
}